1     WAVE    "./sound/W1001milk_us_1.wav"
2     WAVE    "./sound/W1002coffee_us_1_rr.wav"
3     WAVE    "./sound/W1003yes_us_2.wav"
4     WAVE    "./sound/W1004hi_us_1.wav"
5     WAVE    "./sound/W1005rice_us_1.wav"
6     WAVE    "./sound/W1006iced_us_1.wav"
7     WAVE    "./sound/W1007noodle_us_1.wav"
8     WAVE    "./sound/W1008hot_us_1.wav"
9     WAVE    "./sound/W1009water_us_1_rr.wav"
10    WAVE    "./sound/W1010bye_us_1.wav"
11    WAVE    "./sound/W1011no_us_1.wav"
12    WAVE    "./sound/W1012thanks_us_1.wav"
13    WAVE    "./sound/W1013bag__us_1.wav"
14    WAVE    "./sound/W1014ruler__gb_2.wav"
15    WAVE    "./sound/W1015pencil__gb_1.wav"
16    WAVE    "./sound/W1016paper__us_3.wav"
17    WAVE    "./sound/W1017map__us_1.wav"
18    WAVE    "./sound/W1018juice__gb_2.wav"
19    WAVE    "./sound/W1019food__gb_1.wav"
20    WAVE    "./sound/W1020dictionary__gb_2.wav"
21    WAVE    "./sound/W2001beautiful__us_1.wav"
22    WAVE    "./sound/W2002computer__us_3.wav"
23    WAVE    "./sound/W2003family__us_2_rr.wav"
24    WAVE    "./sound/W2004history__us_2_rr.wav"
25    WAVE    "./sound/W2005information__us_1.wav"
26    WAVE    "./sound/W2006meat__us_1.wav"
27    WAVE    "./sound/W2007music__us_2.wav"
28    WAVE    "./sound/W2008people__us_4.wav"
29    WAVE    "./sound/W2009person__us_2.wav"
30    WAVE    "./sound/W2010software__us_3.wav"
31    WAVE    "./sound/W2011system__us_1.wav"
32    WAVE    "./sound/W2012world__us_1.wav"
33    WAVE    "./sound/W2013afternoon__us_2.wav"
34    WAVE    "./sound/W2014address__us_2_rr.wav"
35    WAVE    "./sound/W2015animal__us_1.wav"
36    WAVE    "./sound/W2016painting__us_3.wav"
37    WAVE    "./sound/W2017member__us_1.wav"
38    WAVE    "./sound/W2018apple__us_1.wav"
39    WAVE    "./sound/W2019song_1_us_1.wav"
40    WAVE    "./sound/W2020tooth__us_1.wav"
41    WAVE    "./sound/W3001account__us_1.wav"
42    WAVE    "./sound/W3002television__us_1.wav"
43    WAVE    "./sound/W3003university__us_1.wav"
44    WAVE    "./sound/W3004action__us_2.wav"
45    WAVE    "./sound/W3005security__us_2.wav"
46    WAVE    "./sound/W3006technology__us_1.wav"
47    WAVE    "./sound/W3007already__us_3.wav"
48    WAVE    "./sound/W3008answer__us_1.wav"
49    WAVE    "./sound/W3009product__us_1.wav"
50    WAVE    "./sound/W3010physics__us_2.wav"
51    WAVE    "./sound/W3011marketing__us_2.wav"
52    WAVE    "./sound/W3012library__us_1.wav"
53    WAVE    "./sound/W3013language__us_1.wav"
54    WAVE    "./sound/W3014equipment__us_1.wav"
55    WAVE    "./sound/W3015community__us_2.wav"
56    WAVE    "./sound/W3016arrange__us_2.wav"
57    WAVE    "./sound/W3017announce__us_1.wav"
58    WAVE    "./sound/W3018president__us_1_rr.wav"
59    WAVE    "./sound/W3019instruction__us_3.wav"
60    WAVE    "./sound/W3020difference__us_1.wav"
61    WAVE    "./sound/W4001audience__us_1.wav"
62    WAVE    "./sound/W4002entertainment__us_1.wav"
63    WAVE    "./sound/W4003customer__us_1.wav"
64    WAVE    "./sound/W4004education__us_1.wav"
65    WAVE    "./sound/W4005employee__us_1_rr.wav"
66    WAVE    "./sound/W4006performance__us_2.wav"
67    WAVE    "./sound/W4007location__us_2.wav"
68    WAVE    "./sound/W4008magazine__us_1_rr.wav"
69    WAVE    "./sound/W4009manager__us_2.wav"
70    WAVE    "./sound/W4010construction__us_1.wav"
71    WAVE    "./sound/W4011amazing__us_2.wav"
72    WAVE    "./sound/W4012adjust__us_1.wav"
73    WAVE    "./sound/W4013accept__us_1.wav"
74    WAVE    "./sound/W4014vehicle__us_5.wav"
75    WAVE    "./sound/W4015application__us_2.wav"
76    WAVE    "./sound/W4016success__us_2.wav"
77    WAVE    "./sound/W4017shopping__us_1.wav"
78    WAVE    "./sound/W4018restaurant__us_2_rr.wav"
79    WAVE    "./sound/W4019payment__us_1.wav"
80    WAVE    "./sound/W4020newspaper__us_1.wav"
81    WAVE    "./sound/W5001appointment__us_1.wav"
82    WAVE    "./sound/W5002supermarket__us_1.wav"
83    WAVE    "./sound/W5003requirement__us_1.wav"
84    WAVE    "./sound/W5004temperature__us_1.wav"
85    WAVE    "./sound/W5005workplace__us_1.wav"
86    WAVE    "./sound/W5006psychology__us_1.wav"
87    WAVE    "./sound/W5007presentation__us_1.wav"
88    WAVE    "./sound/W5008manufacturer__us_1.wav"
89    WAVE    "./sound/W5009instrument__us_1.wav"
90    WAVE    "./sound/W5010important__us_1.wav"
91    WAVE    "./sound/W5011garbage__us_1.wav"
92    WAVE    "./sound/W5012experience__us_1.wav"
93    WAVE    "./sound/W5013examination__us_4.wav"
94    WAVE    "./sound/W5014establishment__us_1.wav"
95    WAVE    "./sound/W5015communication__us_2.wav"
96    WAVE    "./sound/W5016environment__us_2_rr.wav"
97    WAVE    "./sound/W5017championship__us_1.wav"
98    WAVE    "./sound/W5018advertising__us_1.wav"
99    WAVE    "./sound/W5019celebration__us_2.wav"
100    WAVE    "./sound/W5020assistance__us_1.wav"
9091  WAVE    "./sound/9091answerTrue.wav"
9092  WAVE    "./sound/9092answerFalse.wav"
9093  WAVE    "./sound/9093finish.wav"